{{#if errorMessage}}
  <p>{{errorMessage}}</p>
{{/if}}

<form action="/register" method="post">
  <label for="email">Email:</label>
  <input type="email" name="email" required>
  <br>
  <label for="password">Password:</label>
  <input type="password" name="password" required>
  <br>
  <label for="confirmPassword">Confirm Password:</label>
  <input type="password" name="confirmPassword" required>
  <br>
  <input type="submit" value="Create Account">
</form>

<p>Already have an account? <a href="/login">Log in</a></p>
